# Flutter
pahawang/.dart_tool/
pahawang/build/
pahawang/.flutter-plugins
pahawang/.flutter-plugins-dependencies

# Dart
pahawang/.packages

# Android
pahawang/android/.gradle/
pahawang/android/local.properties

# iOS
pahawang/ios/Pods/

# NestJS
backend/node_modules/
backend/dist/
backend/.env
backend/check_db.ts

# Firebase service account
*.serviceAccountKey.json

# VSCode
.vscode/